html {
  font-size: 10px;
  background-image: url('images/bckgrd.jpeg');
  background-size: cover; 
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

/* Container for keys  */
.keys {
  display: flex;
  flex: 1;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

/* Individual key blocks */
.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

/* Effect for when sound is played */
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

/* Styling for sound names */
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

/* styles for dance canvas */
.canvas{
  background: #ffc80094;
  height: 80vh;
  width: 50%;
  margin: 20px auto;
}